---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true })); // Return array of object values.

const pageTitle = 'Blog Posts';
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>This is where I will post about my journey.</p>
	<ul>
		{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}  <!-- Iterate through the array of objects, create a link which points to the posts URL and display the title. -->
	</ul>
</BaseLayout>