---
import BaseLayout from '../pages/layouts/BaseLayout.astro';

const pageTitle = 'Home';

const headingOneColor = '#4D0C2E';
---

<BaseLayout pageTitle={pageTitle}>
	<h1 style={`color: ${headingOneColor}`}>Kristie's Blog</h1>
	<h2>My blog subtitle</h2>
</BaseLayout>