---
import Header from '../pages/components/Header.astro';
import Footer from '../pages/components/Footer.astro';

import '../styles/global.css';
import '../styles/responsive/mobile.css';
import '../styles/responsive/tablet.css';
import '../styles/responsive/desktop.css';

const pageTitle = 'Home';

const headingOneColor = '#4D0C2E';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1 style={`color: ${headingOneColor}`}>Kristie's Blog</h1>
		<Footer />
	</body> 
</html>
