---
import Social from './Social.astro';
---

<footer>
    <Social url="https://www.github.com/devkristie" text="GitHub" />
    <Social url="https://www.linkedin.com/in/kristie-larke" text="LinkedIn" />

    <button>
        <a href="/tags/">Browse all tags</a>
    </button>
</footer>