---
import Menu from './Menu.astro';
import Navigation from './Navigation.astro';

import '../styles/main-navigation.css';
---
<header class="navigation-links">
    <nav>
        <Menu />
        <Navigation />
    </nav>
</header>